:root {
  --shadow-color: 40deg 40% 59%;
  --shadow-low:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.46),
    0px 1.9px 2.1px -2.5px hsl(var(--shadow-color) / 0.46);
  --shadow-medium:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.65),
    0px 9.3px 10.5px -2.5px hsl(var(--shadow-color) / 0.65);
  --shadow-high:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.8),
    0px 10px 11.3px -1.2px hsl(var(--shadow-color) / 0.8),
    0px 44px 49.5px -2.5px hsl(var(--shadow-color) / 0.8);

  --background-color: hsl(40, 100%, 98%);
  --text-color: hsl(0, 0%, 5%);

  --outline-color: hsl(200, 100%, 15%);

  /* Button */
  --button-background-color: hsl(38, 100%, 93%);
  --button-background-color-hover: hsl(44, 100%, 88%);
  --button-background-color-active: hsl(40, 100%, 80%);

  /* Input */
  --input-border-color: hsl(40, 77%, 39%);
  --input-background-color: hsl(39, 100%, 95%);

  --input-border-color-hover: hsl(40, 98%, 27%);
  --input-background-color-hover: hsl(40, 100%, 89%);

  --input-border-color-active: hsl(40, 100%, 12%);
  --input-background-color-active: hsl(41, 100%, 93%);
}
