.section {
  display: grid;
  gap: 0.5em;
}

.image_links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(18ch, 100%), 1fr));
  gap: 1em;
}

.image_links a {
  display: grid;

  padding: 0;
  text-align: center;
  border-radius: 0.5em;
  overflow: hidden;
  overflow: clip;
}

.image_links span {
  padding: 0.5em;
  text-wrap: balance;
}

.image_links img {
  object-fit: cover;
}
